.resumeHeader {
    display: flex;
    justify-content: space-between;
    width: $content-width;
}

.author {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .name {
        font-size: $font-l;
        font-family: 'Medium';
    }

    .currentWork {
        font-family: "Regular";
        font-size: $font-sm;
        color: $secondary-text;
    }
}

.langSwitch {}