$primary-bg: #1E1E1E;
$secondary-bg: #303030;

$primary-text: #ffffff;
$secondary-text: #888888;

$content-width: 512px;

$font-xs: 0.5em;
$font-s: 0.75em;
$font-m: 1em;
$font-l: 1.25em;
$font-xl: 2em;